body {
  margin: 0;
  padding: 0;
}

header {
  margin: 0;
  min-width: 100vw;
}

.logo img {
  width: 25vw;
}

.header-menu,
.language-menu {
  background: lightgray;
  height: 10vh;
  border-radius: 40px;
}

.carousel-item {
  height: 30vh;
  object-fit: cover;
}