body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

p {
  font-size: 20px;
}

header {
  margin: 0;
  min-width: 100vw;
}

.logo img {
  width: 25vw;
}

.header-menu,
.profile-menu-container {
  background: lightgray;
  height: 4rem;
  border-radius: 10px;
}

.profile-menu-container {
  width: 12rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.profile-img-container img {
  width: 70%;
  flex: 1;
}

.language-dropdown {
  flex: 3;
  width: 12em;
}

.dropdown-toggle,
.dropdown-item {
  font-size: 25px;
}

.carousel-item {
  /* height: 30vh;
  object-fit: cover; */
  max-height: 250px;
  overflow: hidden; 
}

.planet-cards {
  max-width: 90vw;
  margin: 0 5vw;
}

.planet-card {
  width: 18rem;
  margin: 1em;
  padding: 0;
  background: #D0DAE0;
}

.planet-card-btn {
  width: 90%;
  background: #285C8B;
}

footer {
  padding: 2rem;
  background: #285C8B;
}

.footer-link {
  display: block;
  text-decoration: none;
  color: #83A2BD;
  padding: 2px 0;
}

.footer-link:first-child {
  color: white
}

.social-links {
  opacity: 70%;
  filter: invert(80%);
}

.social-links img {
  padding: 5px;
  width: 50px;
}

footer p {
  margin-top: 2rem;
}

/* MARS MAIN */

.mars-main {
  max-width: 90vw;

}

.mars-img-container {
  flex: 1;

}

.mars-img {
  width: 18rem;
  height: 18rem;
  object-fit: cover;
  border-radius: 10px;
}

.mars-dropdown {
  position: absolute;
  left: 80vw;
  top: 38vh;
}